---
import { Accordion } from "webcoreui/astro";

const accordeonItems = [
                {
                    title: "Как забронировать домик или баню?",
                    content:
                        "Бронирование подтверждается после внесения предоплаты в размере 50% от общей суммы аренды. Перед этим мы можем организовать для вас личный или онлайн-просмотр объекта, чтобы вы могли убедиться в его комфорте.",
                },
                {
                    title: "Можно ли внести предоплату не 50%?",
                    content:
                        "Да, в некоторых случаях, например, при длительной аренде, мы можем уменьшить размер предоплаты до 30%. Этот вопрос обсуждается индивидуально.",
                },
                {
                    title: "Возможна ли оплата в рассрочку?",
                    content:
                        "Да, по договоренности мы можем разбить сумму оплаты на несколько частей. Все детали мы согласуем с вами персонально.",
                },
                {
                    title: "Вы работаете с юридическими лицами?",
                    content:
                        "Да, мы готовы заключить с вашей компанией агентский договор и предоставить все необходимые закрывающие документы. Подробности уточняйте у нашего менеджера.",
                },
                {
                    title: "Можно ли приехать и посмотреть домик перед бронированием?",
                    content:
                        "Конечно! Мы будем рады показать вам наши объекты в Пронске в удобное время. Просто предварительно согласуйте визит по телефону.",
                },
                {
                    title: "Во сколько можно заехать и выехать?",
                    content:
                        "Стандартное время заезда — после 15:00, а выезда — до 12:00. Если вам нужно немного сдвинуть эти сроки, сообщите нам заранее, и мы постараемся пойти навстречу при возможности.",
                },
                {
                    title: "Для чего нужен залог и как он возвращается?",
                    content:
                        "Залоговая сумма вносится при заселении и полностью возвращается вам в день выезда, если не было нанесено ущерба имуществу. Размер залога и условия его возврата четко прописаны в договоре.",
                },
                {
                    title: "Есть ли дополнительные комиссии за ваши услуги?",
                    content:
                        "Нет. Вы платите напрямую за аренду по цене владельца. Наша комиссия уже включена в стоимость, которую вы видите на сайте. Никаких скрытых надбавок и дополнительных платежей для вас нет.",
                },
            ]

---

<section class="wrapper">
    <div class="faq">
        <h2 class="faq_title">Часто задаваемые вопросы</h2>
        <Accordion
            className="faq_items"
            items={accordeonItems}
        />
    </div>
</section>

<style>
    
    .faq {
        padding: 3rem 0;
        max-width: 800px;

        .faq_title {
            color: black;
            margin-bottom: 2rem;
        }

        .faq_items li {
            padding: 1rem 0 1.25rem 0;
        }
    }
</style>
