---
import "@fortawesome/fontawesome-free/css/all.min.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";

// const { title, description, permalink } = Astro.props;
const title = 'Отдых на берегу Прони — аренда домов и бани в Пронске';
const description = 'Аренда уютных домиков и настоящей бани посуточно в Пронске на берегу реки Проня. Отдых в уникальном месте, всего в 69 км от Рязани. Бронирование онлайн';
const permalink = `${Astro.site?.href}`;
---

<html lang="ru">
    <head>
        <SEO 
            title={title} description={description} permalink={permalink} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style lang="scss" is:global>
    @use "webcoreui/styles" as *;
    @use "webcoreui/config" as *;
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Raleway:ital,wght@0,800;1,800&display=swap");

    @include setup(
        (
            theme: "light",
            includeResets: true,
            includeUtilities: true,
            includeTooltip: true,
            // includeScrollbarStyles: true,
            // includeBreakpoints: true
        )
    );

    * {
        margin: 0;

        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }

    html, body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: white;
        @include typography(sm);
        scroll-behavior: smooth;

        @include media(xs) {
            @include typography(default);
        }

        --w-tooltip-background: #FFF;
        --w-tooltip-color: #000;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
    }

    h1 {
        @include typography(3xl); // Например, 32px
    }
    h2 {
        @include typography(2xl); // 28px
    }
    h3 {
        @include typography(xl); // 24px
    }
    h4 {
        @include typography(lg); // 21px
    }
    h5 {
        @include typography(md); // 18px
    }
    h6 {
        @include typography(default); // 16px
    }

    button {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }

    main {
        flex: 1; /* Оставляем, чтобы он толкал футер вниз */
        width: 100%; /* Убедимся, что он на всю ширину */
    }

    /* Наш класс-обертка */
    .wrapper {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0.7rem;
        width: 100%;
        height: 100%;
        position: relative;
    }

    /* Наши вспомогательные классы 
      для полноэкранных блоков 
    */
    .full-width-background {
        width: 100%;
        /* Общие отступы можно задать здесь, 
          а фон (background-color) уже на странице
        */
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .btn {
        @include typography(md);
        display: inline-block;
        text-decoration: none;
        padding: 1rem 2rem;
        border: none;
        border-radius: 1rem;
        background-color: $green;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darkseagreen;
        }
    }
</style>
